.guide{
    background-image: url('../img/guide-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.guide__text{
    background-image: url('../img/guide-text.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
}